---
const pageTitle = "Home";
const description =
  "Professional web developer specialising in academic, scientific, EU-funded Horizon Europe projects, plus UKRI and national research projects.";
import { Image, Picture } from "astro:assets";
import myImage from "../assets/banner-large.webp";
import whatsApp from "../assets/whatsapp-button.svg";
import mugShot from "../assets/me2.jpg";
import BaseLayout from "../layouts/BaseLayout.astro";
import { Schema } from "astro-seo-schema";
---

<BaseLayout pageTitle={pageTitle} description={description}>
  <Schema
    item={{
      "@context": "https://schema.org",
      "@type": "WebSite",
      name: "Martin Cook Design",
      description:
        "Website of Martin Cook, a web developer who makes websites for science, academia, Horizon Europe and EU-funded projects.",
      url: "https://martincookdesign.co.uk",
      image: "https://martincookdesign.co.uk/images/logo.svg",
      keywords:
        "developer, website, science, academia, Horizon Europe, European Union",
    }}
  />
  <div class="full-width banner">
    <Picture
      src={myImage}
      formats={["avif", "webp"]}
      alt=""
      layout="constrained"
      priority
    />
    <div class="banner-text">
      <div>Reliable website development for research and academia</div>
    </div>
  </div>

  <p class="text-x-large">
    <strong
      >I make and maintain websites for science, academia and EU-funded
      projects. I handle the planning, coding and compliance, so you can focus
      on the bigger tasks.
    </strong>
  </p>
  <h2>You benefit from experience</h2>
  <p>For 25 years I have worked in academic website development, including:</p>
  <ul>
    <li>Creating and running websites</li>
    <li>Writing and editing content</li>
    <li>Graphic design</li>
    <li>Working with stakeholders to plan and publish content</li>
    <li>Ensuring legal requirements for privacy and accessibility.</li>
  </ul>
  <h2>How it works</h2>

  <section class="process-cards">
    <div class="step-line">
      <div class="step-num">1</div>
      <h3>Chat</h3>
      <p>Discuss project, timeline and outputs.</p>
    </div>

    <div class="step-line">
      <div class="step-num">2</div>
      <h3>Quote</h3>
      <p>Estimate for fixed or ongoing work.</p>
    </div>

    <div class="step-line">
      <div class="step-num">3</div>
      <h3>Build</h3>
      <p>Design, content and review cycles.</p>
    </div>

    <div class="step-line">
      <div class="step-num">4</div>
      <h3>Launch</h3>
      <p>Go live and handover.</p>
    </div>

    <div class="step-line">
      <div class="step-num">5</div>
      <h3>Maintain</h3>
      <p>Updates, development and archiving.</p>
    </div>
  </section>
  <div class="tinted float-container full-width">
    <div class="container">
      <figure class="float-right">
        <Image
          src={mugShot}
          alt="A photo of me"
          layout="constrained"
          width={225}
          loading="lazy"
        />
      </figure>
      <h2 class="contact">Contact for a chat</h2>
      <p>
        I'm always interested in people's web projects! Tell me about your
        project and get a quote. I'm based just outside Cambridge, so if you're
        anywhere near (or passing through) we could also meet in person.
      </p>
      <div class="text-primary text-xx-large mt-0 mb-1">+44 7455 624491</div>
      <div class="mb-3">
        <a href="mailto:martin@martincookdesign.co.uk"
          >martin@martincookdesign.co.uk</a
        >
      </div>
      <div>
        <a aria-label="Chat on WhatsApp" href="https://wa.me/7455624491">
          <Image
            src={whatsApp}
            alt="WhatsApp button"
            layout="constrained"
            width={190}
            loading="lazy"
          />
        </a>
      </div>
    </div>
  </div>

  <h2>Find out more</h2>
  <ul>
    <li>
      See the <a href="/how-help/">How I can help</a> page to for what I can do,
      and
      <a href="/how-much-costs/">How much it costs</a> for prices.
    </li>
    <li>
      See the <a href="/about/">About page</a> for my portfolio and background.
    </li>
    <li>
      See the <a href="/insights/">insights pages</a> for ideas to help you plan
      and implement a web project.
    </li>
  </ul>
</BaseLayout>
