---
const pageTitle = "Insights";
const description =
  "Some tips about planning and running a website, and working with digital agencies";
import BaseLayout from "../layouts/BaseLayout.astro";
import Insights from "../components/Insights.astro";
import { getCollection } from "astro:content";
const allInsights = (
  await getCollection("insights", ({ data }) => {
    return data.draft !== true;
  })
).sort((a, b) => a.data.order - b.data.order);
---

<BaseLayout pageTitle={pageTitle} description={description}>
  <p>
    Here are some tips about planning and running websites, and working with
    agencies. They are things that I have observed or learned over the years.
  </p>
  <ul class="mt-3">
    {
      allInsights.map((post: any) => (
        <Insights
          url={`/insights/${post.id}/`}
          title={post.data.title}
          order={post.data.order}
        />
      ))
    }
  </ul>
</BaseLayout>
